<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.mincss" />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/skills">Developer Skills Cypher</a>
  </body>
</html>
